{% extends 'base.html' %}

<div class="title">
{% block title %}
    Добавление новости :: {{ block.super }}
    {% endblock % }
</div>

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <h1>Добавление новости</h1>
      <form action="{% url 'Add_news' %}" method="post" style="width: 1200px;">
          {% csrf_token %}
          {{ form.as_p }}
          <button type= "submit" class="btn btn-primary btn-block">Добавить</button>
          {{ form.none_field.errors }}
      </form>
{% endblock %}