{% extends 'base.html' %}
{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}
    <div class="list-group">
        {% for cat in categories %}
        <a href="{% url 'Category' cat.pk %}" class="list-group-item list-group-item-action">{{ cat.title }}</a>
        {% endfor %}
    </div>
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
                        <div class="card mt-3">
                            {{ forloop.counter}}
                                <div class="card-header">
                                    Категория: <a href="{{ news_item.category.get_absolute.url }}">{{ news_item.category }}</a>
                                </div>
                                        <div class="card-body">
                                            {% if item.photo %}
                                            <img src="{{ news_item.photo.url }}" class="mr-3" width="350" alt="Photo">
                                            {% else %}
                                            <h6>Фото нет</h6>
                                            {% endif %}
                                        </div>

                                                    <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}">{{ news_item.title }}</h5>
                                                    {% autoescape off %}
                                                    <p class="card-text">{{ news_item.content|linebreaks }}</p>
                                                    {% endautoescape %}
                                    <div class="card-footer text-body-secondary">
                                        {{ news_item.created_at|date:'Y-m-d H:i' }}
                                    </div>
                        </div>
{% endblock %}

